@charset "UTF-8";
/* CSS Document */

html, 
body {
  height: 100%; 
}

/* Set the size of the div element that contains the map */
#map {
  width: 100%; /*width of the parent - article element */ 
  height: 100%; /*height of the parent - article element */ 
  background-color: grey;
}
